{% extends 'layouts/application.twig' %}
{% block title %} SCFL | Orders {% endblock %}
{% block pageTitle %}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Orders</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active">Orders</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card card-default">
                <div class="card-header">
                    <div class="card-actions">
                        <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                        <a class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="card mb-3" style="border: none">
                            <div class="card-body">
                                <div class="">
                                    <h5 class="card-title">Search Order</h5>
                                    <form method="get" action="/orders">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="name" value="{{ queryData.name }}" id="formGroupExampleInput2" placeholder="Name">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <input type="date" class="form-control" name="date"  value="{{ queryData.date }}" id="formGroupExampleInput2" placeholder="Submitted Date" >
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <select class="form-control" name="status" >
                                                        <option value="">Select Status</option>
                                                        <option value="1" {{ queryData.status == '1' ? 'selected' : '' }}>Submitted</option>
                                                        <option value="2" {{ queryData.status == '2' ? 'selected' : '' }}>Pending</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <div class="fa-pull-left">
                                                        <button type="submit" class="btn btn-primary" id="formGroupExampleInput2">Search</button>
                                                    </div>
                                                    <div class="fa-pull-right">
                                                        <a href="/orders" class="btn btn-info" id="formGroupExampleInput2">Reset</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <div class="table-responsive">
                        {% if orders | length > 0 %}
                            <table class="table product-overview">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Client</th>
                                    <th>Service Type</th>
                                    <th>Amount</th>
                                    <th>Order Submitted</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td><a href="/orders/{{ order.uuid }}">{{ order.orders_sl ?: "-" }}</a></td>
                                        <td><a href="/orders/{{ order.uuid }}">{{ order.user.first_name ?: "-" }} {{ order.user.last_name }}</a></td>
                                        <td><a href="/orders/{{ order.uuid }}">{{ order.user.first_name ?: "-" }} {{ order.user.last_name }}</a></td>
                                        <td>{{ order.total_amount ?: "-" }}</td>
                                        <td>{{ order.created | date('d M, Y, h:i a') ?: "-" }}</td>
                                        <td>
                                            {% if order.status == 1 %}
                                                <span class="label label-info ">Submitted</span>
                                            {% else %}
                                                <span class="label label-warning ">Pending</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center">
                                <span class="text-danger">No order found</span>
                            </div>
                        {% endif %}
                        <span class="text-muted">
                            showing
                            {{ ((page - 1) * perPage) + 1 }} - {{ page * perPage > total ? total : page * perPage }}
                            of {{ total }} records
                        </span>
                    </div>
                    <br>
                    <div class="fa-pull-right">
                        {% if page < maxPage %}
                            <a class="btn btn-primary btn-sm text-light" href="/orders?page={{ page + 1 }}">Next</a>
                        {% endif %}
                    </div>
                    <div class="fa-pull-left">
                        {% if page > 1 %}
                            <a class="btn btn-primary btn-sm text-light" href="/orders?page={{ page - 1 }}">Previous</a>
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}